a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Cash machine
-------------------------------------------------- */

.cash-machine {
    width: 520px;
    height: 400px;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}

#screen {
    margin: auto 50px 10px 20px;
    width: 470px;
    background-color: #a3a375;
    height: 120px;
    border-radius: 6px;
    border: 3px solid #8a8a5c;
    font: 46px sans-serif;
    padding-top: 30px;
    overflow: hidden;
}

#inputNumber {
    background-color: #a3a375;
    border: none;
    font: 40px sans-serif;
    padding: 0 15px;
    letter-spacing: 3px;
}

#body {
    height: 300px;
    width: 470px;
    display: inline-block;
    margin-left: -10px;
    text-align: center;
    background-color: #e0e0d1;
    border-radius: 6px;
    padding-top: 30px;
    box-shadow: 0 0 #0d0d0d, inset -1px -1px 20px 0 #808080;
}

.keyboard {
    height: 306px;
    width: 306px;
    display: inline-block;
    margin-left: -10px;
}

.key {
    margin: 4px 4px 5.7px 4px;
    width: 70px;
    height: 50px;
    font: 25px sans-serif;
    background-color: #ccccb3;
    box-shadow: 2px 4.5px 3.8px 0 #0d0d0d, inset -1px -1px 13px 0 #808080;
}

.button-back a {
    margin-top: 5%;
    color: #000000;
}

.key:focus,
a:focus,
a:active {
    outline: none !important;
    text-decoration: none;
}

/* Cash machine
-------------------------------------------------- */
/* Operations
-------------------------------------------------- */
.operations {
    margin-top: 70px;
    padding-left: 30px;
    text-align: center;
    background-color: #e0e0d1;
    border-radius: 6px;
    padding-top: 30px;
    box-shadow: 0 0 #0d0d0d, inset -1px -1px 20px 0 #808080;
    height: 450px;
}

.menu-buttons .btn,
.menu-buttons a {
    color: black;
    padding-top: 20%;
    width: 250px;
    height: 200px;
    font: 50px sans-serif;
    margin-top: 30%;
    background-color: #ccccb3;
    box-shadow: 2px 4.5px 3.8px 0 #0d0d0d, inset -1px -1px 13px 0 #808080;
}

.balance-screen {
    width: 920px;
    background-color: #a3a375;
    height: 320px;
    border-radius: 6px;
    border: 3px solid #8a8a5c;
    padding: 40px;
    font-size: 30px;
    overflow: hidden;
    margin: 50px auto auto auto;
}

.op-buttons {
    justify-content: space-around;
    background-color: #e0e0d1;
    border-radius: 6px;
    box-shadow: 2px 4.5px 3.8px 0 #0d0d0d, inset -1px -1px 13px 0 #808080;
    margin: 20px 7px;
    height: 160px;
}

.op-button {
    color: black;
    padding-top: 30px;
    width: 200px;
    height: 100px;
    font: 50px sans-serif;
    margin-top: 30px;
    background-color: #ccccb3;
    box-shadow: 2px 4.5px 3.8px 0 #0d0d0d, inset -1px -1px 13px 0 #808080;
}

/* Operations
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
