@model ATM_lab.Models.Operation
@{
    ViewData["Title"] = "Operations";
}

<div class="row text-center operations">
    <div class="menu-buttons col-md-4">
        <a href="@Url.Action("Balance", "Operation",
                new { сardNumber = ViewData["CardNumber"] })" class="btn btn-large btn-block">
            Balance
        </a>
    </div>
    <div class="menu-buttons col-md-4">
        <a href="@Url.Action("Withdraw", "Operation",
                new { сardNumber = ViewData["CardNumber"] })" class="btn btn-large btn-block">
            Withdraw
        </a>
    </div>
    <div class="menu-buttons col-md-4">
        <a href="@Url.Action("Index", "Home")" class="btn btn-large btn-block">
            Exit
        </a>
    </div>
</div>
