@model ATM_lab.Models.Operation
@{
    ViewData["Title"] = "Withdrawal";
}

<div class="text-center home">
    <div class="cash-machine">
        @using (Html.BeginForm("Withdrawal", "Operation", FormMethod.Post))
        {
        <form>
            <div id="screen" class="screen">
                @Html.TextBoxFor(model => model.Amount, new { @id = "inputNumber" })
            </div>
            @Html.HiddenFor(model => model.CardNumber)

            <partial name="_AtmPartial" />
        </form>
        }
    </div>
</div>
