@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <partial name="_AtmPartial"/>
</div>

@section scripts {
    <script type="text/jscript">
        function onClear() {
            $("#number").text('');
        }

        function onKeyPress(value) {
            var cardNumber = $("#number").text();
            cardNumber += value;

            $("#number").text(cardNumber);
        }

        function onSubmit() {
            var cardNumber = $("#number").text();

            $.post('/Home/Index', { cardNumber: cardNumber });
        }
    </script>
}
