@model ATM_lab.Models.Card
@{
    ViewBag.Title = "Card number";
}

<div class="text-center home">
    <div class="cash-machine">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <partial name="_AtmPartial" />
        }
    </div>
</div>
