@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <partial name="_AtmPartial" />
</div>

@section scripts {
    <script src="~/js/site.js"></script>
    <script type="text/jscript">
        function onSubmit() {
            var cardNumber = $("#number").text();

            $.post('/Home/Index', { cardNumber: cardNumber });
        }
    </script>
}
