@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <div class="cash-machine">
        <div class="screen">
            <p id="number" name="number"></p>
        </div>
        <div class="keyboard">
            <input class="key" type="button" value="1" onclick="onKeyPress(value)">
            <input class="key" type="button" value="2" onclick="onKeyPress(value)">
            <input class="key" type="button" value="3" onclick="onKeyPress(value)">
            <input class="key" type="button" value="4" onclick="onKeyPress(value)">
            <input class="key" type="button" value="5" onclick="onKeyPress(value)">
            <input class="key" type="button" value="6" onclick="onKeyPress(value)">
            <input class="key" type="button" value="7" onclick="onKeyPress(value)">
            <input class="key" type="button" value="8" onclick="onKeyPress(value)">
            <input class="key" type="button" value="9" onclick="onKeyPress(value)">
            <input id="ok" class="key" type="submit" value="ok" onclick="onSubmit()">
            <input class="key" type="button" value="0" onclick="onKeyPress(value)">
            <input class="key" type="button" value="clear" onclick="onClear()">
        </div>
    </div>
</div>

@section scripts {
    <script type="text/jscript">
        function onClear() {
            $("#number").text('');
        }

        function onKeyPress(value) {
            var cardNumber = $("#number").text();
            cardNumber += value;

            $("#number").text(cardNumber);
        }

        function onSubmit() {
            var cardNumber = $("#number").text();

            $.post('/Home/Index', { cardNumber: cardNumber });
        }
    </script>
}
