@model ATM_lab.Models.Card
@{
    ViewData["Title"] = "Pin";
}

<div class="text-center home">
    <div class="cash-machine">
        @using (Html.BeginForm("Pin", "Home", FormMethod.Post))
        {
            <form>
                <div id="screen" class="screen text-left">
                    <div class="screenText">PIN: </div>
                    @Html.TextBoxFor(model => model.PIN, new { @id = "inputNumber" })
                </div>
                @Html.HiddenFor(model => model.CardNumber)

                <partial name="_AtmPartial" />
            </form>
        }
    </div>
</div>
<div class="op-button button-back sm single">
    <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-block">
        back
    </a>
</div>